<html>
    <head>
        <!-- font awsm  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
         
    </head>
    <body>
        <div class="parent">
            <div class="child1">
                <div class="logo">
                    <span>Podcast</span>
                </div>
                <ul>
                    <li id="home">
                        <i class="fa fa-home main-icon" id="home"></i>
                        <a [routerLink]="['../home']">
                        <span id="home">Home</span></a>
                    </li>
                    <li id="search">
                        <i class="fa fa-search main-icon"></i>
                        <a [routerLink]="['../search']">
                        <span>Search</span></a>
                    </li>
                </ul>
                <div class="user-records">
                    <div>
                        <i class="fa fa-plus plus-icon"></i>
                        <a [routerLink]="['../create']">
                        <span>Create Podcast</span></a>
                    </div>
                </div>
                <div class="site-info">
                    <p>Cookies</p>
                    <p>Privacy</p>
                </div>
            </div>
            <div class="child2">
                <div class="sub-child-1">
                    <div class="menu" style="margin-top:33px;">
                        <i class="fa fa-chevron-left"></i>
                        <i class="fa fa-chevron-right" style="cursor: pointer;"></i>
                        <a [routerLink]="['../signup']" class="sign-up">Sign up</a>
                        <a [routerLink]="['../login']"class="log-in">Log in</a>
                    </div>
                </div>
                <div class="sub-child-2" id="sub-child-2">
                    <div class="card1">
                        <div class="album-header">
                            <p class="playlist-name">Create your own Podcast</p>                            
                        </div><br>
                        <div class="create-song">
                        <form action="submit-podcast.php" method="POST" enctype="multipart/form-data">
		                        <label class="lable" for="podcast-name">Podcast Name:</label>
		                        <input class="song1" type="text" id="podcast-name" name="podcast-name" required><br><br>
		
		                        <label class="lable" for="podcast-description">Podcast Description:</label>
		                        <textarea class="song1" id="podcast-description" name="podcast-description" required></textarea><br><br>
		
		                        <label class="lable" for="podcast-category">Podcast Category:</label>
		                        <select class="song1" id="podcast-category" name="podcast-category" required>
			                    <option value="">Select a category</option>
			                    <option value="comedy">Comedy</option>
			                    <option value="news">News</option>
			                    <option value="sports">Sports</option>
			                <!-- Add more categories here -->
		                   </select><br><br>
		
		                   <label class="lable" for="podcast-type">Podcast Type:</label>
		                   <input class="song1" type="radio" id="audio" name="podcast-type" value="audio" required>
		                   <label class="lable" for="audio">Audio</label>
		                   <input class="song1" type="radio" id="video" name="podcast-type" value="video" required>
		                   <label class="lable" for="video">Video</label><br><br>
		
		                   <label class="lable" for="podcast-speaker">Podcast Speaker:</label>
		                   <input class="song1"type="text" id="podcast-speaker" name="podcast-speaker" required><br><br>
		
		                   <label class="lable" for="podcast-file">Podcast File:</label>
		                   <input type="file"  id="podcast-file" name="podcast-file" required=""><br><br>
		
		                   <input class="submit" type="submit" value="Submit">
	                       </form>
                    <!-- (change)="onFileSelected($event)"(click)="onUpload()"  -->
                        
                </div></div></div></div></div>
    </body>
</html>